<div class="container">
    <div class="inner">
    <h2>Blog</h2>
    <form method="post" action="/blog/addpost">
        <div class="row gtr-uniform">
            <div class="col-6 col-12-xsmall">
                <input type="text" name="name" id="name" value="" placeholder="Name" />
            </div>
            <div class="col-6 col-12-xsmall">
                <input type="text" name="title" id="title" value="" placeholder="Title" />
            </div>
            <div class="col-6 col-12-xsmall">
                <input type="text" name="image" id="image" value="" placeholder="Image" />
            </div>

            <div class="col-6">
                <input type="text" name="text" id="text" value="" placeholder="Text" />
            </div>
            @*<div class="col-6">
                <input type="hidden" name="blogId" id="blogId" value="" placeholder="Text" />
            </div>*@
            <div class="col-12">
                <ul class="actions">
                    <li><input type="submit" value="Send Message" class="primary" /></li>
                    <li><input type="reset" value="Reset" /></li>
                </ul>
            </div>
        </div>
    </form>
    </div>
</div>
