@model Blog
<div id="main">
    <div class="inner">
        <h1>@Model.Name</h1>
        <span class="image main"><img src="@Model.Img" alt="" /></span>
        <p>@Model.Text</p>
      
    </div>
</div>